<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="br.com.helpdev.githubers">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:name=".GithubersApp"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".ui.GithubersActivity"
                android:launchMode="singleTask"
                android:label="@string/title_activity_githubers"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".ui.SearchableActivity"/>
        </activity>

        <activity android:name=".ui.BrowsableActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"
                      android:host="github.com"/>
                <data android:scheme="http"
                      android:host="github.com"/>
            </intent-filter>
        </activity>

        <provider
                android:name=".data.provider.UserLoginSuggestionProvider"
                android:authorities="${applicationId}.loginsuggestion.provider"
                android:enabled="true"
                android:exported="false"/>

        <activity android:name=".ui.SearchableActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>

        <!--
        Incluir o provider para autorizar o WorkManager subistituir o Factory
        Include the provider to authorize the WorkManager to replace Factory
        -->
        <provider
                android:name="androidx.work.impl.WorkManagerInitializer"
                android:authorities="${applicationId}.workmanager-init"
                android:exported="false"
                tools:node="remove"/>

    </application>

</manifest>